*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Open Sans", sans-serif; 
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


nav a {
    font-family: "DM Sans", sans-serif;
    color: black;
    text-decoration: underline;
    padding: 1em;

}

nav ul {
    font-family: "DM Sans", sans-serif;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1em;
    font-size: 1.2em;
}



nav ul li a {
    display: block;
    padding: 10px 5vw;
    margin: 5px; 
    border: 1px solid black;
    background: white;
}

nav ul li a:hover {
   
    background: black;
    color: white;
}

#hero-home {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 144, 216, 0.9), rgba(96, 8, 121, 0.9));
    background-size: cover;
    width: 100vw;
    padding: 3em;
    font-size: 1.5em;
    text-align: center;
}

#hero-what {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(3, 9, 3), rgb(156, 155, 148));
    background-size: cover;
    width: 100vw;
    padding: 3em;
    font-size: 1.5em;
}

#hero-why {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(166, 216, 0), rgb(236, 21, 21));
    background-size: cover;
    width: 100vw;
    padding: 3em;
    font-size: 1.5em;
}

#hero-how {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(216, 0, 0), rgb(21, 236, 214));
    background-size: cover;
    width: 100vw;
    padding: 3em;
    font-size: 1.5em;
    
}



#overview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 4em;
    padding-bottom: 2em;
}

.subheading-and-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 2em;
    padding-bottom: 2em;
}

h1, h2, h3,h4,h5 {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 3em;
    text-decoration: none;
}

header h1 a {
    text-decoration: none;
    color: black;
}

header h1 a:hover {
    color: rgb(92, 90, 90);
}

h2 {
    font-size: 1.5em;
    padding: 1em;
}

h3 {
    font-size: 1.8em;
    padding: 1em;
}
h4 {
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.1em;
}
p {
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 0.5em;
}

footer {
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    font-size: 0.7em;
}

@media screen and (max-width: 800px) {
    .subheading-and-text {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    #overview {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        margin: 5px; 
    }
    nav ul li a {
        padding: 10px 25vw;
    }
    
}



